aiohttp
altair>=4.2.0
fastapi
ffmpy
markdown-it-py[linkify,plugins]
markupsafe
matplotlib
numpy
orjson
pandas
pillow
pycryptodome
python-multipart
pydub
pyyaml
requests
uvicorn
Jinja2
fsspec
httpx
pydantic
websockets>=10.0
typing_extensions
aiofiles
transformers
ffmpeg-python
more-itertools
tqdm
yt_dlp
pysubs2
# gradio==3.26.0
treetable==0.2.3
PySoundFile
demucs
git+https://github.com/openai/whisper.git
git+https://github.com/linto-ai/whisper-timestamped
stable-ts
